body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
* {
  box-sizing: border-box;
}
/**
    Hero Section
*/
#hero-section {
  align-items: center;
  display: flex;
}
#hero-section h1 {
  font-size: 80px;
  padding-left: 20px;
  margin-bottom: 0;
  border-left: 5px solid #a2288d;
}
/* #hero-heading::before {
  content: "";
  border-radius: 50px;
} */
/* #hero-section h1 span {
  display: block;
} */
#hero-section p {
  margin: 30px 0;
  /* font-size: 26px; */
  max-width: 500px;
}
.special-color {
  color: darkseagreen;
}
p {
  font-size: 18px;
  line-height: 1.7em;
}

section {
  padding: 80px 0;
}
img {
  max-width: 100%;
}
.container {
  width: 1170px;
  max-width: 90%;
  margin: 0 auto;
}
.button-main {
  padding: 10px 30px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: darkseagreen;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
}
.section-heading {
  font-size: 70px;
  text-align: center;
  width: 100%;
}
#missions-wrapper {
  display: flex;
  column-gap: 20px;
}
.mission-item {
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 20px;
}
.mission-item img {
  width: 100px;
}
.mission-mission {
  background-color: #ecf5f6;
}
.mission-vission {
  background-color: darkseagreen;
}
.mission-goals {
  background-color: rgb(189, 179, 255);
}

/**
 Section Limit
*/
#section-limit {
  display: flex;
  column-gap: 50px;
  align-items: center;
}
#section-community {
  display: flex;
  column-gap: 50px;
  align-items: center;
}
.sub-heading {
  font-size: 50px;
  margin: 0;
}

/**
Contact
*/
/* .contact-wraper {
  display: flex;
  column-gap: 50px;
} */
.contact-group {
  display: flex;
  column-gap: 15px;
}
.field {
  margin-bottom: 20px;
  width: 100%;
}
.field label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}
.field input {
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
}
textarea {
  width: 100%;
  border: 1px solid #ddd;
}
#contact .button-main {
  margin-top: 30px;
}
footer {
  background: #0b0d16;
  padding: 30px 0;
  text-align: center;
  color: #fff;
}
footer .special-color {
  color: darkorchid;
}
footer h2 {
  font-size: 35px;
}

.column-2-1 {
  width: 50%;
}
.column-3-1 {
  width: 33.33%;
}
.column-3-2 {
  width: 66.66%;
}
.column-4-1 {
  width: 25%;
}
.column-4-2 {
  width: 50%;
}
.column-4-3 {
  width: 75%;
}
.column-5-1 {
  width: 20%;
}
.column-5-2 {
  width: 40%;
}
.column-5-3 {
  width: 60%;
}
.column-5-4 {
  width: 80%;
}

@media only screen and (max-width: 600px) {
  .column-2-1 {
    width: 100%;
  }
  .column-3-1 {
    width: 100%;
  }
  .column-3-2 {
    width: 100%;
  }
  .column-4-1 {
    width: 100%;
  }
  .column-4-2 {
    width: 100%;
  }
  .column-4-3 {
    width: 100%;
  }
  .column-5-1 {
    width: 100%;
  }
  .column-5-2 {
    width: 100%;
  }
  .column-5-3 {
    width: 100%;
  }
  .column-5-4 {
    width: 100%;
  }
  #section-limit {
    display: block;
  }
  #section-limit img {
    margin-bottom: 30px;
  }
  #missions-wrapper {
    display: block;
  }
  .section-heading {
    font-size: 45px;
  }
  .sub-heading {
    font-size: 35px;
  }
  #hero-section {
    display: block;
  }
  #hero-section h1 {
    font-size: 50px;
  }
  #section-community {
    display: block;
  }
  #section-community img {
    margin-top: 30px;
  }
}
